@{
    ViewBag.Title = "Azure CORS rule manager";
}

@model ACRM.Models.AzureCredentialsModel

<h2>Please enter your Azure credentials (or use the existing ones NYI)</h2>

@using (Html.BeginForm())
{
    if (!String.IsNullOrEmpty(Model.CustomErrorMessage))
    {
        <div>
            @Model.CustomErrorMessage
        </div>
    }
    
    <div>
        <strong>@Html.LabelFor(m => m.AccountName)</strong>
        <div>
            @Html.EditorFor(m => m.AccountName)
            @Html.ValidationMessageFor(m => m.AccountName)
        </div>
    </div>

    <div>
        <strong>@Html.LabelFor(m => m.AccountKey)</strong>
        <div>
            @Html.EditorFor(m => m.AccountKey)
            @Html.ValidationMessageFor(m => m.AccountKey)
        </div>
    </div>
    
    <div>
        <input type="submit" value="Set credentials">
    </div>
}

