@model ACRM.Models.CorsRulesModel

<h2>Existing CORS Rules</h2>

@Html.ActionLink("Add new rule", "Create") (Max. 5 per storage service)

@foreach (var corsRule in Model.CorsRules)
{
    <div>
        <h3>
            #@corsRule.Id 
            (@Html.ActionLink("Edit", "Edit", new { id = corsRule.Id }) / 
            @Html.ActionLink("Remove", "Delete", new { id = corsRule.Id }, new { onclick = "return confirm('Are you sure you wish to remove this item?')" }))
        </h3>
        <p><strong>Allowed origins:</strong> @(String.Join(", ", corsRule.AllowedOrigins))</p>
        <p><strong>Allowed methods:</strong> @(String.Join(", ", corsRule.AllowedMethods))</p>
        <p><strong>Allowed headers:</strong> @(String.Join(", ", corsRule.AllowedHeaders))</p>
        <p><strong>Exposed headers:</strong> @(String.Join(", ", corsRule.ExposedHeaders))</p>
        <p><strong>Max age (seconds):</strong> @(String.Join(", ", corsRule.MaxAgeInSeconds))</p>
    </div>
}

@if (Model.CorsRules.Count == 0)
{
    <div>There are no existin CORS rules for this account yet.</div>
}